<div class="container-fluid">
    <div class="row justify-content-center">
        <h1>Formulario de alumnos</h1>
        <div class="col-8">
            <div class="form-group">
                <label class="form-label">Nombre del alumno:</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label class="form-label">Número de control:</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label class="form-label">Clave de la carrera:</label>
                <input type="text" class="form-control">
            </div>
        </div>
        <div class="col-8">
            <div class="form-group">
                <label class="form-label">Esta inscrito:</label>
                <select name="" id="" class="form-control">
                    <option value="si">Si</option>
                    <option value="no">No</option>
                </select>
            </div>
        </div>
    </div>
</div>